.buffer-both {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .buffer-both-left {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .button {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 80px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
  }
  
  .button-green {
    background: #8aba56;
    color: #fff;
  }
  
  .button-green:hover{
    background: rgb(201, 11, 11);
  }
  
  .button-blue {
    background: #59a3fc;
    color: #fff;
  }
  
  .button-gray {
    background: #aaa;
    color: #fff;
  }
  